<%- include ('partials/header') %>

<h1>THIS IS THE SHOW PAGE</h1>
        
<image src="<%= result.image %>" ></image>

<h4><%= result.name %></h4>
        
<h4><%= result.description %></h4>



<%- include ('partials/footer') %>